<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Failed</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }
        .container {
            text-align: center;
        }
        .icon {
            color: red; 
            font-size: 100px;
        }
        h1 {
            font-size: 24px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="icon">
            &#x2716;
        </div>
        <h1>Unfortunately, your payment was not successful. Please try again later!</h1>
    </div>

    <script>
        setTimeout(function() {
            window.location.href = 'http://127.0.0.1:5500/Fitness-Freak/MAIN%20UI/home.html';
        }, 2000); // Redirect after 2 seconds
    </script>

</body>
</html>
